@charset "UTF-8";

body {

}

header {
	background:-moz-linear-gradient(top,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.02)),color-stop(100%,rgba(0,0,0,0.02))),url(img/concrete-overlay.png);
	background:-webkit-linear-gradient(top,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background:-o-linear-gradient(top,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background:-ms-linear-gradient(top,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background:linear-gradient(to bottom,rgba(255,255,255,0.02) 0%,rgba(0,0,0,0.02) 100%),url(img/concrete-overlay.png);
	background-color:#383B3D;
	background-size:100%,100px 100px,auto;
	color:#fff;
	position:relative;
	padding:0 5px;
	z-index:8;
	border-bottom:1px solid #111;
	box-shadow:0 1px 3px rgba(0,0,0,0.4);
}

header h1 {
}

header h1::before {
}

.m-pikabu-nav-toggle {
}

.m-pikabu-nav-toggle[data-role="right"] {
}
.m-pikabu-nav-toggle::after {
}

.m-pikabu-nav-toggle[data-role="right"]::after {
}

.m-pikabu-left-visible .m-pikabu-nav-toggle[data-role="left"],.m-pikabu-right-visible .m-pikabu-nav-toggle[data-role="right"] {
}

section {
}

.m-pikabu-sidebar {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:10px;
	background:rgba(255,255,255,1);
	color:rgba(0,0,0,1);
}

.m-pikabu-container {
	background:rgba(255,255,255,1);
	z-index: 9;
	-webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
}

section h2 {






}

section h3 {
}

section p {
}

section p em {
}

section a {
}

section a:hover {
}

section ul {
}

.no-js html {
}

.no-js body {
}

.no-js .m-pikabu-viewport {
}

.no-js .m-pikabu-nav-toggle {
}

.no-js .m-pikabu-left,.no-js .m-pikabu-right {
}

.no-js .m-pikabu-container {
}

@media all and (min-width: 769px) {
	html {
	}

	body {
	}

	.m-pikabu-viewport {
	}

	.m-pikabu-nav-toggle {
	}

	.m-pikabu-left,.m-pikabu-right {
	}

	.m-pikabu-container {
	}
}